.Img {
    position: absolute;
    left: -150px;
    top: -300px;
    width: 1200px;
}

.impress-enabled {
    -webkit-transition: background-color 1500ms linear, opacity 3s ease-in-out;
    -moz-transition: background-color 1500ms linear, opacity 3s ease-in-out;
    -o-transition: background-color 1500ms linear, opacity 3s ease-in-out;
    transition: background-color 1500ms linear, opacity 3s ease-in-out;
}

.impress-on-title {
    background-color: #a8ffcb;
}

.impress-on-studyImg1 {
    background-color: #84ff9a;
}

.impress-on-studyImg2 {
    background-color: #44ffdb;
}

.impress-on-studyChar {
    background-color: #85ff58;
}

.impress-on-masterImg {
    background-color: #67c6ff;
}

.impress-on-masterChar {
    background-color: #44ffdb;
}

.impress-on-adviserImg {
    background-color: #2ba7ff;
}

.impress-on-adviserChar {
    background-color: greenyellow;
}

.impress-on-analysisImg {
    background-color: #6ccbff;
}

.impress-on-analysisChar {
    background-color: #61dfff;
}

.impress-on-gradeImg {
    background-color: #94ff8f;
}

.impress-on-gradeChar {
    background-color: #59ff75;
}

.impress-on-interval {
    background-color: #6ccbff;
}

.impress-on-partyChar {
    background-color: #ffb74a;
}

.impress-on-partyImg {
    background-color: #ffec6a;
}

.impress-on-partyImg2 {
    background-color: #c5ffa6;
}

.impress-on-workChar {
    background-color: #6ccbff;
}

.impress-on-voluteImg {
    background-color: #2ba7ff;
}

.impress-on-libImg {
    background-color: #31ff8f;
}

.impress-on-teamImg {
    background-color: #38ffb7;
}

.impress-on-eduImg1 {
    background-color: #ffafd2;
}

.impress-on-eduImg2 {
    background-color: #ff9ae7;
}

.impress-on-eduImg3 {
    background-color: #6ccbff;
}

.impress-on-eduImg4 {
    background-color: #c995ff;
}

.impress-on-prizeACM {
    background-color: #8c89ff;
}

.impress-on-prizeCCF {
    background-color: #87bdff;
}

.impress-on-prizeEng {
    background-color: #6ccbff;
}

.impress-on-prizePE {
    background-color: #6ed8ff;
}
