.begImg {
    position: absolute;
    top: 200px;
    left: 150px;
}

.impress-enabled {
    -webkit-transition: background-color 1500ms linear;
    -moz-transition: background-color 1500ms linear;
    -o-transition: background-color 1500ms linear;
    transition: background-color 1500ms linear;
}

.impress-on-title {
     background-color: #a8ffcb;
 }

.impress-on-studyImg1 {
    background-color: #84ff9a;
}

.impress-on-studyImg2 {
    background-color: #44ffdb;
}

.impress-on-studyChar {
    background-color: #ff903b;
}

.impress-on-masterImg {
    background-color: #67c6ff;
}

.impress-on-masterChar {
    background-color: #44ffdb;
}

.impress-on-adviserImg {
    background-color: #2ba7ff;
}

.impress-on-adviserChar {
    background-color: greenyellow;
}

.impress-on-analysisImg {
    background-color: #6ccbff;
}
